<h1>Notes</h1>
<% @notes.each do |note| %>
  <h2><%= note.text.title %></h2>
  <h3>(from the project <%= note.project.title %>)</h1>
  <p><%= note.content %></p>
  <%= link_to "Edit note", edit_note_path(note) %>
<% end %>