<%= form_tag ('/login') do %>
  <label name="name" id="name">Name:</label>
  <input type="text" name="name" id="name">
  <br>
  <label name="password" id="password">Password:</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Log in">
<% end %>