<h1>Welcome, <%= @researcher.name %>!</h1>

<h2>Your projects</h2>
<% @researcher.projects.each do |project| %>
  <%= link_to project.title, project_path(project.id) %>
<% end %>
<br>
<%= button_to "New Note", new_note_path, method: :get %>