<%= render partial: "application/errors", locals: { model: @text } %>
<h1>Enter a new text</h1>
<%= render partial: "form", locals: { text: @text, project: @project, authors: @authors, religious_tradition: @religious_tradition } %>